@font-face {
    font-family: 'Material Icons';
    font-style: normal;
    font-weight: 400;
    src: url(https://fonts.gstatic.com/s/materialicons/v47/flUhRq6tzZclQEJ-Vdg-IuiaDsNc.woff2) format('woff2');
  }
  
  .material-icons {
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 24px;
    line-height: 1;
    letter-spacing: normal;
    text-transform: none;
    display: inline-block;
    white-space: nowrap;
    word-wrap: normal;
    direction: ltr;
    -webkit-font-feature-settings: 'liga';
    -webkit-font-smoothing: antialiased;
  }

  body {
    font-size: 100%;
    background-color: #fff;
  }

  .width45 {
    width: 600px;
  }

  
  a.imageinfo, a.outlineLay, a.compname, a.outlinecomp, a.metainfo, a.linkInfo, a.vidInfo, a.expAcd, a.getvariant, a.getBold, a.getItalics, a.getUnderline,  a.getSymbols, a.getSup {
    cursor: pointer;
  }
  a.operation:after {
    content: '✓';
    display: none;
    margin-left: 8px;
  }
  a.operation.active {
    color: #4caf50;
    font-weight: 700;
  }
  a.operation.active:after {
    display: inline-block;
  }